#d1 {
  width:300px;
  height:100px;    
  border:1px solid black;
  border-bottom:4px dotted red;
}
#d2 {
  width:200px;
  height:200px;
  border:4px solid red;
  border-radius:100px;
}

div {
  width:200px;
  height:100px;
  border:1px solid black;
}

#d3{
  margin:0px auto;
  margin-bottom:40px;
  padding:100px;
}

#d4{  
  border:10px solid #666;
  background-color:#ccc;
  padding:10px;
  margin-top:30px;
}

span {
  border:1px solid red;  
}

#d5{
  width:300px;
  height:200px;
  border:4px solid black;
  margin:20px auto;
  padding-top:10px;
  padding-left:40px;
}

#d5>div {
  width:100px;
  height:50px;
  border:1px solid green;
  /*margin-top:40px;
  margin-left:10px;*/
}

p{
  margin:10px;
}
#d6 {
  width:500px;
  height:300px;
  border:1px solid black;
  margin:0px auto;
}
#d6 div {
  float:left;
}

span {
  width:50px;
  height:100px;
}

#d7 {
  background-image:url("2.jpg");
  background-repeat:no-repeat;
  background-position:right center;
}













/*CSS reset：css重置--用css代码改写元素的默认效果*/
body,ul,p,li,ol,h1,h2,h3,h4,h5,h6{margin:0;padding:0}